.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: inset 0 15px 20px rgba(0, 0, 0, 0.25);
	padding: 25px 35px;
	background-color: hsl(236.3, 74.9%, 46.9%);
	border-radius: 10px;
	margin-top: 1rem;
	font-size: 0.8rem;
}

.info {
	flex: 10;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.info-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.exit {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}