.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 25px 35px;
	border-radius: 10px;
	margin-top: 1rem;
	font-size: 0.8rem;
}

.info {
	flex: 10;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.info-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.info-title {
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 2rem;
}

.info-body {
	margin-top: 1rem;
}


.exit {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}