html, body {
	font-family: 'Source Sans Pro';
	/* height: 100%; */
}

.bo {
	margin-bottom: 10rem;
}

@media (min-width: 724px) {
    html {
        font-size: 1.2rem;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 0.7rem;
    }
}