html, body {
	font-family: 'Source Sans Pro';
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

.bo {
	margin-bottom: 10rem;
}

@media (min-width: 724px) {
    html {
        font-size: 1.2rem;
		font-weight: 800;
    }
}

@media (max-width: 623px) {
    html {
		font-size: 0.7rem;
		font-weight: 800;
    }
}